// @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");

body {
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: #f16d7f !important;
}

li {
    list-style: none;
}

.pink {
    color: #ef5b70;
}

a,
svg,
button,
input[type="button"],
input[type="submit"] {
    transition: 0.3s;
}

.hidden {
    position: absolute;
    left: -9999px;
    margin: 0;
    font-size: 1px;
    //opacity: 0;
}

summary::-webkit-details-marker {
    display: none;
}

.form-input {
    padding-left: 16px;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 100%;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #b1b1b1;
    border: 1px solid #a4a4a4;
    margin-top: 20px;
    box-sizing: border-box;

    &:hover,
    &:focus,
    &:active {
        border: 1px solid #a4a4a4;
        outline: 0;
    }
}

// Главная страница

// Секция - ШАПКА САЙТА
.header {
    background-color: #222222;
    padding: 18px 0;

    input[type="checkbox"]:checked~.menu {
        //display: block !important;

        transform: translateY(0) !important;
    }

    i {
        color: #ffffff;
        font-size: 35px;

        &:hover {
            color: #f16d7f;
        }
    }
}

.menu {
    overflow: hidden;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    background: #ffffff;
    transform: translateY(-120%);
    position: absolute;
    transition: transform 0.3s;
    top: 77.5px;
    right: 0px;
    width: 232px;
    min-height: 764px;
    z-index: 9999;

    &__close {
        display: block;
        text-align: right;
        padding: 16px;
        padding-bottom: 0;
        top: 0;
        right: 0;
        cursor: pointer;
        position: absolute;
    }

    &__title {
        margin-top: 9px;
        margin-left: 34px;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin-bottom: 4px;
        padding-top: 38px;
    }

    &__items {
        padding-left: 33px;
    }

    &__item {
        padding-top: 20px;
        font-size: 14px;
        line-height: 17px;

        a {
            color: #f16d7f;
        }
    }

    &__sub-items {
        padding-left: 22px;

        li {
            font-size: 14px;
            line-height: 17px;
            padding-top: 11px;

            a {
                color: #6f6e6e;
            }
        }
    }
}

// Обёртка для шапки сайта
.header-wrapper {
    display: flex;
    justify-content: space-between;

    svg {
        fill: #ffffff;

        &:hover {
            fill: #f16d7f;
        }
    }
}

// Левая колонка шапри сайта
.header-col-left {
    display: flex;
    align-items: center;

    // Логотип
    &__logo-link {
        padding-right: 41px;
    }

    &__search-link {
        i {
            font-size: 32px;
        }
    }
}

// Правая колонка шапки сайта
.header-col-right {
    display: flex;
    align-items: center;

    // Обёртка для кнопки открытия меню
    &__menu-button-wrap {
        display: inline-block;
    }

    &__menu-button-label {
        color: #ffffff;
        cursor: pointer;
        font-size: 35px;
    }

    // ссылка на страницу входа
    &__login-link {
        padding-left: 33px;

        i {
            font-size: 28px !important;
        }
    }

    // ссылка на страницу корзина
    &__cart-link {
        padding-left: 33px;
        position: relative;

        svg {
            fill: #e8e8e8;
            stroke-width: 2;
        }

        &:hover {
            svg {
                fill: #f16d7f !important;
            }
        }
    }

    &__count-product {
        position: absolute;
        border-radius: 50%;
        padding: 2px 5px;
        top: -18px;
        right: -10px;
        background-color: #f16d7f;
        z-index: 10;
        color: white;
        font-size: 12px;
        line-height: 14px;
    }
}

@import "./section/home-promo";
@import "./section/home-categories";
@import "./section/products";
@import "./section/features";
@import "./section/feedback";
@import "./section/footer";
@import "./section/subheader";
@import "./section/slider";
@import "./section/product-page";
@import "./section/order";
@import "./section/sort";

#catalog {
    .card {
        &__items {
            padding-bottom: 48px !important;
        }

        padding-bottom: 14px !important;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ebebeb;
    width: fit-content;
    margin: 0 auto;
    box-sizing: border-box;

    li {
        padding: 15px;

        a {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #c4c4c4;
        }

        a.active {
            color: #ef5b70;
        }

        &:nth-child(7) {
            padding-right: 0;
        }

        &:nth-child(9) {
            padding-left: 0;
        }
    }

    .disable {
        padding-left: 0px;
        padding-right: 0px;
    }
}

#menu {
    display: none;
}

.registration {
    padding-top: 65px;
    padding-bottom: 92px;
    display: flex;
    justify-content: space-between;
    gap: 128px;

    &__name-group {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
    }

    .group-check-box {
        display: flex;
        align-items: center;
        padding-top: 31px;
        padding-bottom: 33px;

        input[type="radio"] {
            height: 17px;
            width: 17px;
            margin-right: 10px;
        }

        label {
            margin-right: 20px;
        }
    }

    &__name-text {
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #b1b1b1;
        padding: 15px 0 39px 0;
    }

    &__form-btn {
        display: inline-block;
        width: auto;

        svg {
            margin-left: 20px;
            fill: #ffffff;
        }

        &:hover {
            border: 1px solid #a4a4a4;
        }
    }
}

.registration__inform {
    &-title {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        padding-bottom: 32px;
    }

    &-description {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        padding-bottom: 27px;
    }

    &-items {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    }

    &-item {
        list-style-image: url("../img/marker-list.png");
        padding-bottom: 16px;
        margin-left: 26px;
        padding-left: 22px;
    }
}

@mixin registration-tablet {
    .registration__inform-title {
        font-size: 16px;
        line-height: 19px;
        padding-bottom: 30px;
    }

    .registration__inform-description {
        font-size: 16px;
        line-height: 19px;
        padding-bottom: 30px;
    }

    .registration__inform-item {
        padding-bottom: 16px;
        margin-left: 26px;
        padding-left: 22px;
        font-size: 16px;
        line-height: 19px;
    }

    .group-check-box {
        font-size: 11px;
    }

    .order__form-submit {
        font-size: 14px;
        line-height: 16px;
    }

    .registration {
        gap: 22px;
    }

    .registration__inform {
        width: 49%;
    }

    .registration__form {
        width: 49%;
    }
}

@mixin registration-mobile {
    .registration {
        gap: 40px;
        flex-direction: column;
    }

    .registration__inform {
        width: 100%;
    }

    .registration__form {
        width: 100%;
    }
}

@import "./index";

.header-wrapper {
    position: relative;
}

#cart-info-content {
    display: block;
    position: absolute;
    height: auto;
    width: 400px;
    background-color: #ffffff;
    top: 40px;
    right: 0px;
    z-index: 1;
    padding: 10px;

    table {
        width: 100%;
        font-size: 12px;
        border: 1px solid #ccc;

        th {
            padding: 3px;
        }

        td {
            padding: 3px;
        }
    }

    p {
        text-align: right;
        font-weight: 600;
        font-size: 11px;
        padding: 4px;
    }

    a {
        padding: 4px 0 !important;
        display: block;
        text-align: center;
        background-color: #ef5b70;
        color: #ffffff;
        font-size: 11px;

        &:hover {
            background-color: #e2e2e2;
        }

        margin: 2px auto;
    }
}

.hidden-all {
    display: none !important;
}