.subheader {
    background: #f8f3f4;
    height: 148px;
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    &__title {
        font-size: 24px;
        line-height: 29px;
        color: #f16d7f;
    }
    &__breadcrumbs {
        display: flex;
        list-style: none;
        li {
            a {
                text-decoration: none;
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                color: #636363;
            }
        }
        li::after {
            content: " / ";
            padding: 0px 5px;
            color: #636363;
        }
        li:last-child {
            color: #f16d7f;
            font-weight: bold;
        }
        li:last-child::after {
            content: "";
        }
    }
}

@mixin subheader-tablet {
    .subheader__wrap {
        flex-direction: column;
        justify-content: space-evenly;
    }
}
